/* // Favorites
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// About
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Surprise Order
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// CraveCrafter
color: '#FCFBFA';
 fontSize: 32;
 fontFamily: 'Kanit';
 fontWeight: '500';
 lineHeight: 40;
 wordWrap: 'break-word'
---
// Let us do the decision making for you.
color: '#FCFBFA';
 fontSize: 24;
 fontFamily: 'Epilogue';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// CraveCrafter
color: '#FCFBFA';
 fontSize: 104;
 fontFamily: 'Kanit';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Surprise Order
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// What We Offer
color: '#050312';
 fontSize: 32;
 fontFamily: 'Kanit';
 fontWeight: '500';
 textDecoration: 'underline';
 wordWrap: 'break-word'
---
// Welcome to CraveCrafter, your personal choice champion! Life gets busy, and we get it. That's why we've created a one-of-a-kind web application that takes the hassle out of decision-making. When you're short on time or motivation, simply place an order, and let us surprise you with one of your favorite dishes from one of your favorite local restaurants. It's like a culinary adventure delivered to your doorstep! Embrace the unexpected, savor the surprise – because a delightful meal is just a click away with CraveCrafter!
color: '#050312';
 fontSize: 16;
 fontFamily: 'Epilogue';
 fontWeight: '500';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Bailee Davis (bailee.design)
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Epilogue';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Product Design
color: 'white';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 textDecoration: 'underline';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Danny Tran
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Epilogue';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Project Management
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 textDecoration: 'underline';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Simon Dutton
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Epilogue';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Idong Wilson
color: '#FCFBFA';
 fontSize: 16;
 fontFamily: 'Epilogue';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Software Development
color: 'white';
 fontSize: 16;
 fontFamily: 'Kanit';
 fontWeight: '500';
 textDecoration: 'underline';
 lineHeight: 24;
 wordWrap: 'break-word' */