* {
    margin: 0;
    padding: 0;
  }

/* .logo {
    text-decoration: none;
    color: #FCFBFA;
    font-size: 32px;
    font-family: 'Kanit';
    font-weight: 500;
} */

.footer-label {
  text-decoration: underline;
  margin-bottom: 20px;
}

.footer-text {
  text-align: center;
  color: #FCFBFA;
  font-size: 14px;
  font-family: 'Epilogue';
  font-weight: 500;
}
@media (min-width: 0px) {
  .nav-button {
    height: 15px;
  }
}
/* 
@media (min-width: 768px) {
  .nav-button {
    height: 30px;
  }
} */